<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 bg-dividido">
            <div class="row">
                <div class="col-sm-2 mt-5">
                    <h2 class="txt-creme pb-4">Faça Parte da comunidade</h2>
                    <h5 class="txt-creme">Faça login para ter acesso a diversas ONGs e seus projetos.</h5>
                    <a class="txt-creme ms-3" href="">
                        <h5>Entrar</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>