<div class="container-fluid bg-diminuido">
    <div class="row">

        <div class="col-md-12 d-flex faca-parte p-0 ">
            <div class="row d-flex">
                <div class="bg-dividido"></div>
                <div class="col-md-4 mt-5 p-0 m-0">
                    <div class="ml-5">
                        <h1 class="txt-creme pb-2 tipoFonte">Faça Parte da comunidade</h1>
                        <h5 class="txt-creme">Cadastre-se para ter acesso a diversas ONGs e seus projetos.</h5>
                        <br>
                        <a class="txt-creme" routerLink='/cadastro'>
                            <h2 class="btn btn-outline-info font-weight-bold">CADASTRAR</h2>
                        </a>
                    </div>

                </div>
                
                <div class="col-md-8 d-flex justify-content-end video-grande">
                    
                    <div class="embed-responsive"></div>
                    
                    <video autoplay muted loop id="video-doacao" class="d-flex">
                        <source src="../../assets/video-doacao.mp4" type="video/mp4">
                    </video>
                </div>
               
            </div>
           
        </div>
        
    </div>
   
</div>
<div class="container-fluid p-0 m-0 video-pequeno">
  
    <video autoplay muted loop id="video-doacao-2" class="d-flex embed-responsive">
        <source src="../../assets/video-doacao.mp4" type="video/mp4">
    </video>

</div>