.bg-creme{
    background-color: var(--color-menu);
}

.txt-azulescuro{
    font-weight: bold;
}
.navbar-brand {
    color: var(--color-font-brand);
    font-weight: bold;
}
.ponteiro, .dropdown-item{
    cursor: pointer;
}
#cesta{
    height: 30px;
    
}

/*Botão sair */
.dropdown-menu{
  background-color: #17A697;
}
.dropdown-item{
  background-color: #17A697;
  font-weight: bold;
  color: white;
}

.dropdown-item:hover{
  background-color: #17A697;
  font-weight: bold;
  color: black;
}
/* Acaba Botão sair */

.dot{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--color-bolinha-carinho);
    color: var(--color-menu);
    font-size: 20px;
    font-weight: bolder;
    display: block;
    padding-bottom: 3px;
    position: absolute;
    bottom: 25px;
}
.cesta-compra{
    position: relative;
}
p{
    margin-bottom:0;
    color:#17A697;
    font-weight: bold;
}
a:hover{
color: #17A697;
 
}
hr{
    display: none;
    margin:0;
    visibility: hidden;
}
@media only screen and (max-width:1000px) {
   li{
       padding-bottom: 3px;
   
   }
   ul{
    margin-left:30%;
    
    text-align: center;
   }
   hr{
    display:block;
    visibility: visible;
    width: 70vw;
}
li:hover{
        background:linear-gradient(-90deg, #dbb48400 0%,var(--color-bg-creme-escuro) 50%,#dbb48400 100% ); 
    }
 }


 @media only screen and (max-width:350px) {
    .navbar-brand{
        font-size: 70%;
    }
    
  }
  .ajusteAltura{
    margin-top: 3px;
  }
 
  #switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
  }
  #switch input {
    display: none;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #7F7569;
    border-radius: 30px;
    transition: .4s;
  }
  .slider:before {
    content:"";
    position: absolute;
    height: 24px;
    width: 24px;
    left: 4px;
    bottom: 3px;
    background: #fff;
    border-radius: 50%;
    transition: .4s;
  }
  input:checked + .slider {
    background: #808C96;
  }
  input:checked + .slider:before {
    transform: translateX(26px);
  }