<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="false" id="perguntas">
    <div class="modal-dialog modal-lg">
        <!--Todo o conteúdo do modal-->
        <div class="modal-content">
            <img class="top-image " src="../../assets/img/pessoas-falando.svg" alt="Pessoas Unidas">
            <div class="col-md-12 mb-5 mt-5">

                <!--Botão de fechar o modal-->
                <button type="button" class="close mt-3" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>

                <div class="row d-flex justify-content-center">
                    <div class="form-group col-md-10 ">
                        <!--Título do modal-->
                        <h1 class=" mb-3 mt-3">Fale Conosco</h1>

                        <!--Div do select de tipo de pergunta-->
                        <div class="form-group">
                            <select class="form-control" id="tipo" (change)='tipoPergunta($event)'
                                (focus)=validaTipo($event)>
                                <option>Selecione a área de interesse</option>
                                <option value="1">Quero adicionar minha ONG</option>
                                <option value="2">Problemas ao comprar</option>
                                <option value="3">Feedback da página</option>
                            </select>
                            <small id="valida-tipo" [style.visibility]="msgTipo"> <img
                                    src="../../assets/img/alertSign.svg" height="15px" class="pb-1" alt="alerta">
                                Selecione a área de interesse</small>
                        </div>

                        <!--Div do input de nome-->
                        <div class="form-group">
                            <input [(ngModel)]='nome' class="form-control" type="text" id="nome" placeholder="Nome"
                                (focusout)='validaNome()' (click)='limpaErroNome()'>
                            <small id="valida-nome" [style.visibility]="msgNome"> <img
                                    src="../../assets/img/alertSign.svg" height="15px" class="pb-1" alt="alerta"> O nome
                                deve conter ao menos duas letras</small>
                        </div>

                        <!--Div do input de email-->
                        <div class="form-group ">
                            <input [(ngModel)]='email' class="form-control" type="text" name="usuario" id="usuario"
                                placeholder="E-mail" (focusout)='validaEmail()' (click)='limpaErroEmail()'>
                            <small id="valida-email" [style.visibility]="msgEmail"> <img
                                    src="../../assets/img/alertSign.svg" height="15px" class="pb-1" alt="alerta"> Deve
                                conter um e-mail válido</small>
                        </div>

                        <!--Textarea para a pergunta-->
                        <textarea class="form-group col-md-12 mb-0" id="area-texto" rows="10" [(ngModel)]='texto'
                            (keyup)="validaTexto()" placeholder="Digite a sua pergunta (Até 300 caracteres)"></textarea>
                        <small id="valida-texto" [style.color]="alertaTextArea"><img
                                src="../../assets/img/alertSign.svg" [style.visibility]="alertaTextAreaImg"
                                height="15px" class="pb-1 pr-2" alt="alerta">{{textoLimite}}</small>
                        <hr>

                        <!--Botão de enviar-->
                        <div class="d-flex justify-content-left">
                            <button type="submit" id="enviar" class="btn btn-azulNutri" (click)="enviar()">Enviar</button>
                        </div>
        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>