<app-menu></app-menu>
<div  class="container">
  <div class="row" *ngIf='authService.adm()'>
    <div class="col-md-12 mt-3 mb-4">
      <h3 class="text-center">Adicionar Produto</h3>
      <div class="form-group">
        <label for="titulo">Nome</label>
        <input [(ngModel)]='nome' type="text" class="form-control" id="nome" placeholder="Digite o nome do produto">
      </div>
      <div class="form-group">
        <label for="texto">Descrição do Produto</label>
        <input [(ngModel)]='descricaoProduto' type="text" class="form-control" id="localAtuacao"
          placeholder="Digite a descrição do produto">
      </div>
      <div class="form-group">
        <label for="texto">Imagem do Produto</label>
        <input [(ngModel)]='imagem' type="text" class="form-control" id="imagem" placeholder="Insira o url da Imagem">
      </div>
      <div class="form-group">
        <label for="texto">Estoque</label>
        <input [(ngModel)]='estoqueProduto' type="text" class="form-control" id="imagem"
          placeholder="Insira o url da Imagem">
      </div>
      <div class="form-group">
        <label for="texto">Valor</label>
        <input [(ngModel)]='preco' type="text" class="form-control" id="imagem" placeholder="Digite o valor do produto">
      </div>

      <button *ngIf='authService.adm()' type="button" class="btn btn-danger mr-3">Cancelar</button>
      <button *ngIf='authService.adm()' type="button" class="btn btn-success" (click)='postProduto()'>Publicar</button>
    </div>
  </div>

  <div class="row d-flex justify-content-center mt-3 mb-4">
    <div class="card-deck">
      <div class="card" *ngFor='let item of ong.produto'>
        <img class="card-img-top img-size" src="{{item.foto}}" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title text-center">{{item.nomeProduto}}</h5>
          <p class="card-text text-center">{{item.descricao}}</p>
        </div>
        <div class="mb-3 ml-3 d-flex justify-content-center">
          <button *ngIf='authService.adm()' class="btn btn-info mr-4 cursor" [routerLink]="['/produto-edit', item.id]">Atualizar</button>
          <button *ngIf='authService.adm()' class="btn btn-danger mr-4 cursor" [routerLink]="['/produto-delete', item.id]">Deletar</button>
          <button class="btn btn-success cursor" [routerLink]="['/']">Comprar</button><!--Nessa linha vai o link pro carrinho-->
        </div>
      </div>
    </div>
  </div>
</div>


<app-rodape></app-rodape>