<div  class="container">
  <div class="row" *ngIf='authService.adm()'>
    <div class="col-md-12 mt-3 mb-4">
      <h3 class="text-center">Adicionar Produto</h3>
      <div class="form-group">
        <label for="titulo">Nome</label>
        <input [(ngModel)]='nome' type="text" class="form-control" id="nome" placeholder="Digite o nome do produto">
      </div>
      <div class="form-group">
        <label for="texto">Descrição do Produto</label>
        <input [(ngModel)]='descricaoProduto' type="text" class="form-control" id="localAtuacao"
          placeholder="Digite a descrição do produto">
      </div>
      <div class="form-group">
        <label for="texto">Imagem do Produto</label>
        <input [(ngModel)]='imagem' type="text" class="form-control" id="imagem" placeholder="Insira o url da Imagem">
      </div>
      <div class="form-group">
        <label for="texto">Estoque</label>
        <input [(ngModel)]='estoqueProduto' type="text" class="form-control" id="imagem"
          placeholder="Insira o url da Imagem">
      </div>
      <div class="form-group">
        <label for="texto">Valor</label>
        <input [(ngModel)]='preco' type="text" class="form-control" id="imagem" placeholder="Digite o valor do produto">
      </div>

      <button *ngIf='authService.adm()' type="button" class="btn btn-danger mr-3">Cancelar</button>
      <button *ngIf='authService.adm()' type="button" class="btn btn-success" (click)='postProduto()'>Publicar</button>
    </div>
  </div>

  <div class="row d-flex justify-content-center mt-3 mb-4">
    <div class="card-deck">
      <div class="card" *ngFor='let item of ong.produto'>
        <img class="card-img-top img-size" src="{{item.foto}}" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title text-center">{{item.nomeProduto}}</h5>
          <p class="card-text text-center">{{item.descricao}}</p>
          <p class="card-text text-center">Estoque: {{item.estoque}} &nbsp; | &nbsp; R$ {{item.valor}}</p>
        </div>
        <div class="mb-3 ml-3 d-flex justify-content-center">
          <button *ngIf='authService.adm()' class="btn btn-info mr-4 cursor" [routerLink]="['/produto-edit', item.id]">Atualizar</button>
          <button *ngIf='authService.adm()' class="btn btn-danger mr-4 cursor" [routerLink]="['/produto-delete', item.id]">Deletar</button>
          <button *ngIf='!authService.adm()' class="btn btn-success cursor" data-toggle='modal' data-target="#adicionaCarrinho" (click)='findByIdProduto(item.id)' >Adicionar ao carrinho</button><!--Nessa linha vai o link pro carrinho-->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Adicionar ao carrinho-->
<div class="modal fade" tabindex="-1" role="dialog" id="adicionaCarrinho" aria-labelledby="TituloModalCentralizado"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content"  >
          <div class="modal-header"  >
                <h2 class="modal-title" id="TituloOng">Adicionar ao carrinho</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar" (click)="limpaInput()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <h5>Nome</h5>
                </div>
                <div class="form-group">
                    <label for="texto">Quantidade desejada</label>
                    <input (change)='leQuantidade($event)' [value]="valorInput" type="number" min="1" max="produto.estoque" class="form-control" id="leQuantidade"
                        placeholder="Digite a quantidade desejada (max: {{produto.estoque}})" (click)='limpaErroEstoque()'>
                        <small id="valida-estoque" [style.visibility]="msgEstoque"> <img src="../../assets/img/alertSign.svg"
                          height="15px" class="pb-1" alt="alerta"> Selecione uma quantidade de estoque disponível</small>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
             <button id="adicionaCarrinhoBotao" type="button" class="btn btn-verde-nutri" (click)='alterarEstoque()'>Adicionar ao carrinho</button>
            </div>
        </div>
    </div>
</div>