<div class="card-deck m-3 d-flex flex-column justify-content-around bg-dividido-oposto">
  <div class="row">
    <div class="col-md-12">
      <h2 class="ml-5 txt-blue">Como funciona</h2>
    </div>   
  </div>

  <div class="row justify-content-around mb-3">
    <div class="card card-model">
      <img class="card-img-top img-size mt-4" src=".../100px200/" alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title mt-4 text-center">Título do card</h5>
      </div>
    </div>
    <div class="card card-model">
      <img class="card-img-top img-size mt-4" src=".../100px200/" alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title mt-4 text-center">Título do card</h5>
      </div>
    </div>
    <div class="card card-model d-flex flex-column justify-content-around">
      <img class="card-img-top img-size mt-4" src=".../100px200/" alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title mt-4 text-center">Título do card</h5>
      </div>
    </div>
  </div>
  
</div>