.card-model {
    margin: 1%;
    height: 50vh;
    max-width: 20vw;
    border: 1px solid;
    border-radius:10px;
}

.img-size {
    max-width: 300px;
    height: 300px;
    padding: 1%;
    margin: auto;
    border-radius: 10px;
    background-color: #17A697;
}
.bg-dividido-oposto {
    width: 100vw;
    height: 70vh;
    background: linear-gradient(30deg, #17A697 50%,#012340 50%);
}

.txt-blue {
    color: #012340;
}
