<div class="card-deck m-3">
    <div class="card card-model">
      <img class="card-img-top" src=".../100px200/" alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title">Título do card</h5>
      </div>
    </div>
    <div class="card card-model">
      <img class="card-img-top" src=".../100px200/" alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title">Título do card</h5>
      </div>
    </div>
    <div class="card card-model">
      <img class="card-img-top" src=".../100px200/" alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title">Título do card</h5>
      </div>
    </div>
  </div>