<div class="d-flex container-fluid flex-column justify-content-around bg-dividido-oposto p-0 m-0">
  <div class="row">
    <div class="col-md-11 p-0">
      <h2 class="ml-5 txt-creme">Como funciona?</h2>
    </div>
  </div>
  <div class="row d-flex  align-items-center mb-3">
    <div class="col-md-12 flex-wrap d-flex justify-content-around p-0 m-0">
      <a routerLink='/cadastro'>
      <div class="d-flex flex-column align-items-center zoom-img"><img src="../../assets/Files sent-bro.svg" alt="Pessoa fazendo cadastro"
          class="img-fluid imgs-como-funciona">
        <h2>Cadastre-se</h2>
        <p>É preciso fazer o cadastro para ter acesso a todas as ONGs disponíveis</p>
      </div>
    </a>
    <a routerLink='/ongs'>
      <div class="d-flex flex-column align-items-center"> <img src="../../assets/Search engines-bro.svg" alt="Lupas pesquisando pela página"
          class="img-fluid imgs-como-funciona">
        <h2>Escolhe uma ONG</h2>
        <p>Cada ONG auxilia no combate à fome de uma forma e em uma região.</p>
      </div>
    </a>
      <div class="d-flex flex-column align-items-center">
        <img src="../../assets/Payment Information-bro.svg" alt="Página de compras"
          class="img-fluid imgs-como-funciona">
        <h2>Compre um produto</h2>
        <p>O lucro será convertido para a doação!</p>
      </div>
    </div>
  </div>

</div>