<app-menu></app-menu>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card-columns">
                <div class="card card-size mt-5" *ngIf='authService.adm()'>
                    <a  data-toggle="modal" data-target="#cadastroOng">
                        <div>
                            <img class="img-fluid card-img-top"  src="../../assets/img/imagem_adicionar.jpg"
                                alt="Imagem de capa do card">
                            <div class="card-body">
                                <h5 class="card-title text-center">Adicionar ONG</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card mt-5" *ngFor='let item of listaOngs'>
                    <div class="card-body">
                        <a [routerLink]="['/ongs/', item.id]" (click)="verificaLogin()">
                            <img class="card-img-top mb-4 img-size border-foto" src="{{item.foto}}" alt="Imagem de capa do card">
                            <h5 class="card-title text-center">{{item.nomeOng}}</h5>
                            <p class="card-text text-center">{{item.localAtuacao}}</p>
                        </a>

                        <div class="m-3 text-center pointer">
                            <a *ngIf='authService.adm()' data-toggle="modal" data-target="#atualizaOng"
                                (click)="findByIdOng(item.id)" class="mr-4 text-white btn bg-verdeProjeto ">
                                Atualizar
                            </a>
                            <a class="text-white btn bg-danger " *ngIf='authService.adm()' data-toggle="modal" data-target="#deleteOng"
                                (click)="findByIdOng(item.id)">
                                Deletar
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<app-rodape></app-rodape>


<!-- Modal Cadastra Ong-->
<div class="modal fade" id="cadastroOng" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloOng">Cadastrar ONG</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="titulo">Nome</label>
                    <input [(ngModel)]='nome' type="text" class="form-control" id="nome" placeholder="Digite o nome">
                </div>
                <div class="form-group">
                    <label for="texto">Local de Atuação</label>
                    <input [(ngModel)]='local' type="text" class="form-control" id="localAtuacao"
                        placeholder="Digite o local de atuação">
                </div>
                <div class="form-group">
                    <label for="texto">Imagem da ONG</label>
                    <input [(ngModel)]='imagem' type="text" class="form-control" id="imagem"
                        placeholder="Insira o url da Imagem">

                </div>
                <div class="form-group">
                    <label for="texto">Tipo de ONG</label>
                    <select class="form-control" name="tipo" id="tipo" [(ngModel)]='tipoOng'>
                        <option value="">Selecione o tipo de ONG</option>
                        <option value="associacao">Associação</option>
                        <option value="funsacao">Fundação</option>
                        <option value="instituicao">Instituição</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" (click)='postOng()' data-dismiss="modal">Publicar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Atualiza Ong-->
<div class="modal fade" id="atualizaOng" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title tipoFonte" id="TituloOng">Atualizar ONG</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="titulo">Nome</label>
                    <input [(ngModel)]='ong.nomeOng' type="text" class="form-control" id="nome"
                        placeholder="Digite o nome">
                </div>
                <div class="form-group">
                    <label for="texto">Local de Atuação</label>
                    <input [(ngModel)]='ong.localAtuacao' type="text" class="form-control" id="localAtuacao"
                        placeholder="Digite o local de atuação">
                </div>
                <div class="form-group">
                    <label for="texto">Imagem da ONG</label>
                    <input [(ngModel)]='ong.foto' type="text" class="form-control" id="imagem"
                        placeholder="Insira o url da Imagem">

                </div>
                <div class="form-group">
                    <label for="texto">Tipo de ONG</label>
                    <select class="form-control" name="tipo" id="tipo" [(ngModel)]='ong.tipo'>
                        <option value="">Selecione o tipo de ONG</option>
                        <option value="associacao">Associação</option>
                        <option value="funsacao">Fundação</option>
                        <option value="instituicao">Instituição</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn bg-verdeProjeto text-white" (click)='putOng()' data-dismiss="modal">Atualizar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Cadastra Ong-->
<div class="modal fade" id="deleteOng" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content d-flex">
            <div class="modal-header">
                <h4 class="modal-title tipoFonte">Apagar ONG</h4>
                <div class="modal-footer">
                    <label for="titulo">Você deseja mesmo apagar a ong {{ong.nomeOng}}? Todos os produtos relacionados
                        serão igualmente apagados. </label>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Não</button>
                    <button type="button" class="btn bg-verdeProjeto text-light" (click)='deleteOng()'
                        data-dismiss="modal">Sim</button>
                </div>
            </div>
        </div>
    </div>
    <app-rodape></app-rodape>