<h2 class="text-center m-4 txt-azulescuro tipoFonte">Equipe</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 d-flex flex-column">

            <div class="d-flex ">
                <img src="https://i.imgur.com/YaxhzhG.jpg?1" alt="Foto Desenvolvedor" class="rounded-circle ml-5 mb-5 equipeFotoE" width="180px" height="180px"> 
                <div class="equipeDescricaoE">
                    <p class="integranteE"><b>Fábio Campaner</b></p>
                    <hr>
                    <p class="txt-descricaoE">Desenvolvedor Java Full Stack</p>
                    <div class="row posicaoRedeE">
                        <a href="https://www.linkedin.com/in/fabiocsuzuki/" target="_blank"><img src="https://i.imgur.com/eXXz2eO.png" width="25px" alt="Linkedin" class="redeSocial"></a>
                        <a href="https://github.com/FabioCampaner" target="_blank"><img src="https://i.imgur.com/DtPvreY.png" width="25px" alt="Github" class="redeSocial"></a>
                        <a href="https://www.instagram.com/fabiocsuzuki/" target="_blank"><img src="https://i.imgur.com/mjhNJn0.png" width="25px" alt="Instagram" class="redeSocial"></a>
                    </div>
                </div>
            </div>

            <div class="d-flex">
                <img src="https://i.imgur.com/2PYtvZk.png" alt="Foto Desenvolvedor" class="rounded-circle ml-5 mb-5 equipeFotoE" width="180px" height="180px"> 
                <div class="equipeDescricaoE">
                    <p class="integranteE"><b>Felipe Matos</b></p>
                    <hr>
                    <p class="txt-descricaoE">Desenvolvedor Java Full Stack</p>
                    <div class="row posicaoRedeE">
                        <a href=""><img src="https://i.imgur.com/eXXz2eO.png" width="25px" alt="Linkedin" class="redeSocial"></a>
                        <a href=""><img src="https://i.imgur.com/DtPvreY.png" width="25px" alt="Github" class="redeSocial"></a>
                        <a href=""><img src="https://i.imgur.com/mjhNJn0.png" width="25px" alt="Instagram" class="redeSocial"></a>
                    </div>
                </div>
            </div>

            <div class="d-flex">
                <img src="https://i.imgur.com/Hx8CEs4.jpg" alt="Foto Desenvolvedor" class="rounded-circle ml-5 mb-5 equipeFotoE" width="180px" height="180px"> 
                <div class="equipeDescricaoE">
                    <p class="integranteE"><b>Giovanna Siqueira</b></p>
                    <hr>
                    <p class="txt-descricaoE">Desenvolvedor Java Full Stack</p>
                    <div class="row posicaoRedeE">
                        <a href="https://www.linkedin.com/in/giovannapenedos/" target="_blank"><img src="https://i.imgur.com/eXXz2eO.png" width="25px" alt="Linkedin" class="redeSocial"></a>
                        <a href="https://github.com/Gisiqueira96" target="_blank"><img src="https://i.imgur.com/DtPvreY.png" width="25px" alt="Github" class="redeSocial"></a>
                        <a href="https://www.instagram.com/giihsiqueira96/" target="_blank"><img src="https://i.imgur.com/mjhNJn0.png" width="25px" alt="Instagram" class="redeSocial"></a>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-6 d-flex flex-column ">
            
            <div class="d-flex justify-content-end mr-5">
                <div class="equipeDescricaoD">
                    <p class="integranteD"><b>Letícia Martins</b></p>
                    <hr>
                    <p class="txt-descricaoD">Desenvolvedor Java Full Stack</p>
                    <div class="row posicaoRedeD">
                        <a href="https://www.linkedin.com/in/let%C3%ADcia-porto-martins-a56a86107/" target="_blank"><img src="https://i.imgur.com/eXXz2eO.png" width="25px" alt="Linkedin" class="redeSocial"></a>
                        <a href="https://github.com/Letpmartins" target="_blank"><img src="https://i.imgur.com/DtPvreY.png" width="25px" alt="Github" class="redeSocial"></a>
                        <a href="https://www.instagram.com/let.martins08/" target="_blank"><img src="https://i.imgur.com/mjhNJn0.png" width="25px" alt="Instagram" class="redeSocial"></a>
                    </div>
                </div>
                
                <img src="https://i.imgur.com/PF7FZfy.jpg?1" alt="Foto Desenvolvedor" class="rounded-circle ml-5 mb-5 equipeFotoD" width="180px" height="180px">
            </div>

            <div class="d-flex justify-content-end mr-5">
                <div class="equipeDescricaoD ">
                    <p class="integranteD"><b>Felipe Souza</b></p>
                    <hr>
                    <p class="txt-descricaoD">Desenvolvedor Java Full Stack</p>
                    <div class="row posicaoRedeD">
                        <a href=""><img src="https://i.imgur.com/eXXz2eO.png" width="25px" alt="Linkedin" class="redeSocial"></a>
                        <a href=""><img src="https://i.imgur.com/DtPvreY.png" width="25px" alt="Github" class="redeSocial"></a>
                        <a href=""><img src="https://i.imgur.com/mjhNJn0.png" width="25px" alt="Instagram" class="redeSocial"></a>
                    </div>
                </div>
                <img src="https://i.imgur.com/2PYtvZk.png" alt="Foto Desenvolvedor" class="rounded-circle ml-5 mb-5 equipeFotoD" width="180px" height="180px">
            </div>

            <div class="d-flex justify-content-end mr-5">
                <div class="equipeDescricaoD">
                    <p class="integranteD"><b>Vinícios Lisboa</b></p>
                    <hr>
                    <p class="txt-descricaoD">Desenvolvedor Java Full Stack</p>
                    <div class="row posicaoRedeD">
                        <a href=""><img src="https://i.imgur.com/eXXz2eO.png" width="25px" alt="Linkedin" class="redeSocial"></a>
                        <a href=""><img src="https://i.imgur.com/DtPvreY.png" width="25px" alt="Github" class="redeSocial"></a>
                        <a href=""><img src="https://i.imgur.com/mjhNJn0.png" width="25px" alt="Instagram" class="redeSocial"></a>
                    </div>
                </div>
                <img src="https://i.imgur.com/LgDYXLl.jpg" alt="Foto Desenvolvedor" class="rounded-circle ml-5 mb-5 equipeFotoD" width="180px" height="180px">
            </div>

        </div>


    </div>
</div>