<div class="container-fluid p-0 d-flex align-items-center justify-content-end ">
    <!--região com fundo claro-->
    <div class="box-form">
        <div class="row d-flex align-items-center  m-0">
            <!--Imagem lateral-->
            <div class="col-md-6 d-flex div-img-login px-0">
                <img src="../../assets/img/Together-bro.svg" class="img-login" alt="ilustração de grupo de pessoas">
            </div>
            <!--Área dos inputs-->
            <div class="col-md-9 conteudo-input">
                <h1 class="text-left mb-3 mt-3">Logar</h1>

                <!--Div do input de email-->
                <div class="form-group">
                    <input [(ngModel)]='userLogin.email' class="form-control" type="text" placeholder="E-mail" (focusout)='validaEmail()' (click)='limpaErroEmail()'>
                    <small id="valida-email" [style.visibility]="msgEmail"> <img src="../../assets/img/alertSign.svg"
                            height="15px" class="pb-1" alt="alerta"> Deve conter um e-mail válido</small>
                </div>

                <!--Div do input de senha-->
                <div class="form-group">
                    <input [(ngModel)]='userLogin.senha' class="form-control" type="password" id="senhaLogin" placeholder="Senha" (focusout)='validaSenha()' (click)='limpaErroSenha()'>
                    <small id="valida-senha" [style.visibility]="msgSenha"> <img src="../../assets/img/alertSign.svg"
                            height="15px" class="pb-1" alt="alerta"> A senha deve conter no mínimo 6 caracteres</small>
                </div>

                <!--Div do botão de Entrar-->
                <div class="d-flex justify-content-left">
                    <button type="submit" id="botaoCadastrar" class="btn btn-danger mr-3 " routerLink='/home'>Cancelar</button>
                    <button type="submit" id="botaoCadastrar" class="btn btn-verdenutri  " (click)='logar()'>Entrar</button>
                </div>

                <hr class="mb-3 mt-4">
                <!--Div do botão de Criar Conta-->
                <label class="titulo-criar-conta">Não tem uma conta? Cadastre-se!</label>
                <div class="d-flex justify-content-left">
                    <button type="submit" id="botaoCadastrar" class="btn btn-verdenutri-line mt-1" routerLink='/cadastro'>Criar Conta</button>

                </div>
            </div>
        </div>
    </div>
</div>