<button class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Modal extra grande</button>

<div class="modal fade bd-example-modal-lg " data-backdrop='static' tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
        <img class="top-image"src="../../assets/img/pessoasUnidas.svg" alt="Pessoas Unidas">
    <div class="modal-content bg-dividido">
        
        <div class="container-fluid">
            <div class="row d-flex align-items-center">
                <div class="col-md-12 mb-5 mt-2">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-10">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            <h1 class="text-left mb-3 title-modal">Logar</h1>
                            <div class="form-group">
                                <label for="usuario">Usuário</label>
                                <input class="form-control" type="text" name="usuario" id="usuario" placeholder="Seu usuário">
                            </div>
                            <div class="form-group">
                                <label for="senha">Senha</label>
                                <input class="form-control" type="password" name="senha" id="senha" placeholder="Sua senha">
                            </div>
                            <div class="d-flex justify-content-left">
                                <button type="submit" class="btn btn-verdenutri">Entrar</button>
                            </div>
                            <hr>
                            <p>Não tem uma conta? Cadastre-se!</p>
                            <div class="d-flex justify-content-left">
                                <button type="submit" class="btn btn-outline-verdenutri">Criar Conta</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>