#img-bg{
    min-height:  900px;
    background-repeat: no-repeat;
    background-size: cover;
}
.btn-verdenutri{
    background-color: #17A697;
    color: #F3F3F3;
    border-radius: 50px;
}
.btn-verdenutri:hover{
    background: #012340;
}

.title-modal{
font-weight: bold;
color: #012340;
}
label{
    color: #012340;
}
input, select{
    border-radius: 20px;
    border-color: #0123406c;
    background-color: #F3F3F3;
}
.modal-content{
    background-color: #F3F3F3;
border-radius:0px 0px 30px 30px;
border-style: none;
margin-top: 0px;

}
.close{
    color: #012340;
    border-radius: 30px;
    outline: none;
    font-size: 35px;
}
.btn-outline-verdenutri{
    border-color:#17A697;
    background-color: #F3F3F3;
    color: #17A697;
    border-radius: 50px;
}
.btn-outline-verdenutri:hover{
    background-color: #17A697;
    color: #F3F3F3;
}
.fade{
    background-color: #012340a9;
}