.bg-creme{
    background-color: var(--color-menu);
}

.estilo-link, copyright{
    text-decoration: none;
    color: var(--color-font-black);
}
.estilo-link:hover{
    color: #17A697;

}

ul.social-network{
    list-style: none;
    padding: 0;
}

ul.social-network li{
    display: inline;
    margin: 0;
    padding: 5px;
}
 
.fa{
    font-size: 25pt;
    color: var(--color-font-black);
    padding: 10x;
}

.fa-linkedin-square{
    transition: all 1s;
    cursor: pointer;
}

.fa-github-square{
   transition: all 1s;
    cursor: pointer;
}

.fa-instagram{
    transition: all 1s;
    cursor: pointer;
}

.fa-linkedin-square:hover{
    color: #0e76a8;
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
}

.fa-github-square:hover{
    color: #17A697;
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
}

.fa-instagram:hover{
    color: #c13584;
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
}

.pointer{
    cursor: pointer;
}

.pointer:hover{
    font-weight: 500;
}

