#img-bg{
    min-height:  900px;
    background-repeat: no-repeat;
    background-size: cover;
}
.btn-verdenutri{
    background-color: #17A697;
    color: #F3F3F3;
    border-radius: 50px;
}
.bg-dividido{
    background: #F3F3F3 9%;
}
.title-modal{
font-weight: bold;
color: #012340;
}
label{
    color: #012340;
}
input,input:focus, select, select:focus{
    border-radius: 20px 20px 20px 20px;
    border-color: #0123406c;
    background-color: #F3F3F3;
    
}
small{
    color:#a61717;
}
.modal-content{
    background-color: #F3F3F3;
border-radius:0px 0px 30px 30px;
border-style: none;
margin-top: 0px;

}
.close{
    color: #012340;
    border-radius: 30px;
    outline: none;
    font-size: 35px;
}

option{
 border-radius: 30px;
}

.btn-verdenutri:hover{
    background-color: #012340;
}
.fade{
    background-color: #012340a9;
}
