.img-size{
    min-height: 10vw;
   min-width: 10vw;
   border-radius: 10px;
 
}
.bg-branco-nutry{
    background-color: var(--color-bg-branco);
}

a {
    text-decoration: none;
}

.txt-verde {
    color: var(--color-font-titulo-ods);
}

h1{
    font-size: 50px;
}
h5{
    color: var(--color-font-texto);
}