
<div class="jumbotron jumbotron-fluid bg-branco-nutry m-0" id="ods">
    <div class="container-fluid">
      <div class="row justify-content-around">
          <div class="col-md-6 my-auto">
              <h1 class="txt-verde pb-3 tipoFonte">ODS ONU</h1>
              <h5 class="align-items-center pb-3">O Objetivo de Desenvolvimento Sustentável 2, estabelecido pela Organização das Nações Unidas em 2015, visa acabar com a fome, alcançar a segurança alimentar, melhoria da nutrição e promover a agricultura sustentável. A missão do ODS 2 é: acabar com a fome e garantir que todos tenham acesso a alimentos seguros, nutritivos e suficientes durante todo o ano; acabar com todas as formas de má-nutrição; promover ações agrícolas sustentáveis, apoiar pequenos agricultores e garantir acesso igualitário à terras, tecnologia e mercados; entre outros. Para isso é necessária a cooperação internacional para garantir investimentos em infraestrutura para apoiar a produção agrícola. Junto com outros objetivos, podemos eliminar a fome em 2030.</h5>
              <a href="https://odsbrasil.gov.br" target="_blank"><h5 class="txt-verde">Saiba mais</h5></a>
          </div>
          <div class="col-md-3 m-3 d-flex justify-content-center">
              <img src="../../assets/ods-fome.png" alt="Foto da ODS-2" class="img-ods img-fluid img-size" >
          </div>
      </div>
    </div>
  </div>
