<div class="jumbotron jumbotron-fluid bg-white" id='ods'>
    <div class="container-fluid">
      <div class="row justify-content-around">
          <div class="col-md-6 my-auto">
              <h1 class="txt-verde pb-3">ODS ONU</h1>
              <h5 class="align-items-center pb-3">Breve explicação do que são as ODS, qual nós usaremos e uma forma de redirecionar para o site da ONU.</h5>
              <a href=""><h5 class="txt-verde">Saiba mais</h5></a>
          </div>
          <div class="col-md-2 m-4 img-size">
              <img src="" alt="Foto da ODS-2" class="img-ods" >
          </div>
      </div>
    </div>
  </div>
