.img-size{
    min-height: 10vw;
   min-width: 10vw;
   border-radius: 10px;
 
}
.bg-branco-nutry{
    background-color: #F3F3F3;
}

a {
    text-decoration: none;
}

.txt-verde {
    color: #17A697;
}

h1{
    font-size: 50px;
}